h1 {
    color: rgb(0, 255, 255);
}

.days {
    display: grid;
    flex-direction: column;
}

.days .day-title {
    margin: 20px;
}

.day {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-style: solid;
    border-width: 5px;
    margin: 10px 0px;
}

.day div {
    width: 25%;
}

.day .day-title {
    min-width: 20%;
}

.next-forecast {
    font-size: larger;
}

#current-weather .next-forecast, #current-weather h2 {
    text-align: center;
}

#hourly-forecasts {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
}