h1 {
    color: rgb(0, 255, 255);
}

.days {
    display: flex;
    flex-direction: column;
}

.days .day-title {
    margin: 20px;
    font-size: 200%;
}

.day {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-style: solid;
    border-width: 5px;
    margin: 10px 0px;
}

.day div {
    width: 25%;
}

.day .day-title {
    min-width: 20%;
}

.next-forecast {
    font-size: larger;
}

#current-weather {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#city-selector {
    text-align: center;
    width: 10%;
}

/* #current-weather .next-forecast, #current-weather h2 {
    text-align: center;
} */

#hourly-forecasts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
